@page
@model Venier.IOTHub.WebApp.ConfirmModel
@{
    ViewData["Title"] = "Confirm";
}

<h1>Your message has been sent.</h1>
<a asp-page="/Index">If you want to go back and send new message click here!</a>


