@page
@model Venier.IOTHub.WebApp.error404Model
@{
    ViewData["Title"] = "error404";
}

<h1>Ops.. something went wrong.</h1>
<a asp-page="/Index">If you want to go back and send new message click here!</a>

