@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Send message</h1>
    <form>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select device</label>
            <select class="form-control" asp-for="deviceId"
                <option>device1</option>
                <option>device2</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" asp-for="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="float:right;">Send</button>
    </form>
</div>
